/*
 * This file should only comprise of @imports.
 * Place all styles in appropriately named files.
 * See the ToC in _application.scss
 */

/* Bourbon & Neat
 * -----------------------------------------------------------------------------*/
@import "bourbon/app/assets/stylesheets/bourbon";
@import "neat/app/assets/stylesheets/neat-helpers";
@import "bitters/grid-settings";
@import "neat/app/assets/stylesheets/neat";

/* Base
 * -----------------------------------------------------------------------------*/
@import "bitters/variables";
@import "bitters/extends/base";
@import "bitters/mixins/base";
//
/*
@import "bitters/typography";
@import "bitters/forms";
@import "bitters/tables";
@import "bitters/lists";
@import "bitters/flashes";
*/
/* Components
 * -----------------------------------------------------------------------------*/
// @import "component/modal";
div.npLanding {
	margin-top: 200px;
	background-image: url("../img/bg.jpg");
}
#npLanding {
	width: 970px;
	margin: 0 auto;
	min-height: 1000px;
	/* ---+-+--- */
	h1, h2, h3, h4 {
		font-size: 24px;
		line-height: 26px;
		font-weight: bold;
		margin: 0;
	}
	ul, ul>li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	ul>li, p {
		font-size: 16px;
		letter-spacing: 0.08em;
		line-height: 24px;
	}
	section {
		position: relative;
		padding: 20px;
	}
	/* ---+-+--- */
	section.topBaner {
		background-image: url("../img/section_1.jpg");
		height: 355px;
		color: white;
		/**/
		ul {
			margin-top: 40px;
		}
		/**/
		a.button {
			color: #18a4a5;
			background: #18a4a5;
			position: absolute;
			top: 200px;
			left: 15px;
			width: 245px;
			height: 85px;
		}
	}
	/* ---+-+--- */
	section.list_0 {
		background-image: url("../img/section_2.jpg");
		height: 452px;		
		/**/
		h2 {
			margin-top: -30px;
		}
		p {
			line-height: 20px;
			font-weight: bold;
		}
		h3 {
			margin-top: 60px;
			margin-bottom: 30px;
		}	
		ul > li {
			padding-left: 60px;
			margin-right: 300px;
			margin-bottom: 30px;
			letter-spacing: 0.04em;

		}
	}
	/* ---+-+--- */
	section.list_1 {
		background-image: url("../img/section_3.jpg");
		height: 427px;

		ul > li {
			padding-left: 60px;
			margin-right: 300px;
			letter-spacing: 0.04em;
			margin-top: -4px;
		}

		h3 {
			width: 250px;
			position: absolute;
			top: 210px;
			right: 40px;
			/**/
			text-align: center;
		}

	}
	/* ---+-+--- */
	section.baner_1 {
		background-image: url("../img/section_4.jpg");
		height: 252px;
		h4{
			color: white;
			margin-left: 495px;
			margin-top: 25px;
		}
		/**/
		a.button {
			color: #21b2b5;
			background: #21b2b5;
			position: absolute;
			top: 135px;
			left: 495px;
			width: 245px;
			height: 85px;
		}	
	}
	/* ---+-+--- */
	section.breins {
		background-image: url("../img/section_5.jpg");
		height: 505px;
		padding-top: 340px;
		padding-left: 620px;
		/*** ---+++--- ***/
		p {
			margin: 0px;
			line-height: 20px;
		}	
		h4 {
			margin: 4px 0px 6px;
		}
	}
	/* ---+-+--- */
	section.heand {
		background-image: url("../img/section_6.jpg");
		height: 374px;	
		padding-right: 300px;
		h3{
			margin: 20px 0px 100px;
		}	
		p{
			line-height: 20px;
			letter-spacing: 0.04em;
		}
	}
	/* ---+-+--- */
	section.girl_1 {
		background-image: url("../img/section_7.jpg");
		height: 573px;
		p{
			margin-left: 20px;
			margin-top: 70px;
		}
		p.top{
			margin-top: 210px;
			width: 320px;
			letter-spacing: 0.04em;
			line-height: 22px;
		}
	}
	/* ---+-+--- */
	section.aligator {
		background-image: url("../img/section_8.jpg");
		height: 404px;	
		padding-right: 200px;
		h3{
			margin-top: 20px;
			margin-bottom: 20px;
		}	
		ul>li{
			padding-left: 80px;
			letter-spacing: 0em;
			padding-top: 15px;
			padding-bottom: 20px;
			line-height: 22px;
			&:last-child{
				padding-top: 8px;
			};
		}
	}
	/* ---+-+--- */
	section.baner_2 {
		background-image: url("../img/section_9.jpg");
		height: 251px;	
		
		h4{
			color: white;
			margin-left: 495px;
			margin-top: 25px;
		}
		/**/
		a.button {
			color: #21b2b5;
			background: #21b2b5;
			position: absolute;
			top: 135px;
			left: 495px;
			width: 245px;
			height: 85px;
		}		
	}
	/* ---+-+--- */
	section.testimonials {
		background-image: url("../img/section_10B.jpg");
		height: 493px;
		position: relative;

		blockquote {
			width: 420px;
			margin: 5px;

			p {
				margin: 0;
				line-height: 18px;
				font-size: 14px;
				font-style: italic;
				&.autor {
					margin: 15px 0 0 55px;
					span.color {
						color: #f79800;
					}
				}
			}

			&#num_0{
				position: absolute;
				top: 85px;
				left: 50px;
				width: 430px;
			}

			&#num_1{
				position: absolute;
				top: 0px;
				left: 540px;
				top: 85px;	
			}

			&#num_2{
				position: absolute;
				top: 310px;
				left: 50px;
			}
		}	
	}
	/* ---+-+--- */
	section.bigList_1 {
		background-image: url("../img/section_11.jpg");
		height: 464px;	
		h3 {
			margin-top: 10px;
			margin-bottom: 20px;
			
		}
		h4 {
			margin-top: 50px;
			margin-left: 140px;
			&:last-child {
				margin-top: 80px;	
			};
		}	
		p {
			margin-left: 140px;
			margin-right: 210px;
			line-height: 22px;
			letter-spacing: 0.01em;
		}
	}
	/* ---+-+--- */
	section.bigList_2 {
		background-image: url("../img/section_11a.jpg");
		height: 315px;
		padding-top: 10px;
		ul > li {
			margin-left: 140px;
			line-height: 22px;
			letter-spacing: 0.01em;
			margin-bottom: 16px;
			min-height: 50px;
			&:last-child {
				margin-top: 24px;	
			};
		}	
	}
	/* ---+-+--- */
	section.baner_3 {
		background-image: url("../img/section_12.jpg");
		height: 250px;
		h4{
			color: white;
			margin-left: 495px;
			margin-top: 25px;
		}
		/**/
		a.button {
			color: #21b2b5;
			background: #21b2b5;
			position: absolute;
			top: 135px;
			left: 495px;
			width: 245px;
			height: 85px;
		}
	}
	/* ---+-+--- */
	section.girl_2 {
		background-image: url("../img/section_13.jpg");
		height: 423px;	
		h3{
			line-height: 32px;
		}	
		p{
			margin: 20px 0;
		}
		ul {
			padding-top: 8px;
			li { 
			padding-left: 40px;
			padding-top: 5px;
			}
		}
		h4{
			margin: 40px 0;
		}
	}
	/* ---+-+--- */
	section.tips_1 {
		background-image: url("../img/section_14.jpg");
		height: 396px;
		overflow: visible;
		padding-bottom: 0; 
		h3{
			margin: 100px 0px 100px 240px;
		}

		ul {
			padding-top: 30px;
			padding-left: 140px;
			padding-right: 100px;
			li { 
			padding-top: 7px;
			padding-bottom: 5px;
			line-height: 20px;
			letter-spacing: 0.01em;
			}
		}
	}
	/* ---+-+--- */
	section.tips_2 {
		background-image: url("../img/section_15.jpg");
		height: 339px;		
		ul {
			padding-top: 4px;
			padding-left: 140px;
			padding-right: 120px;
			li { 
				padding-top: 0px;
				padding-bottom: 18px;
				line-height: 20px;
				letter-spacing: 0.01em;
			}
		}
	}
	/* ---+-+--- */
	section.baner_4 {
		background-image: url("../img/section_16.jpg");
		height: 250px;		
		h4{
			color: white;
			margin-left: 495px;
			margin-top: 25px;
		}
		/**/
		a.button {
			color: #21b2b5;
			background: #21b2b5;
			position: absolute;
			top: 135px;
			left: 495px;
			width: 245px;
			height: 85px;
		}	
	}
}

/* Pages
 * -----------------------------------------------------------------------------*/
// @import "page/home";

